{% extends "website/base.html" %}

{% block title %}About {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>Eetopedia is een Hackaton project.</h3>
  <h5>- 11 en 12 Maart, Nieuwegein.</h5>
  <h5>- 16 en 18 December, Nieuwegein.</h5>  
</div>

<div class="row">
  <div class="col-sm-12" align="center">
	<h3>Bouwers</h3>
  </div>
  <div class="col-sm-12" align="center">
	<div>Mathijs</div>
	<div>Bouke</div>
	<div>Michiel</div>	
	<div>Tijmen</div>
	<div>Jasper</div>
	<div>Bart</div>
	<div>Milan</div>
	<div>Sjoerd</div>
	<div>Mirjam</div>		
  </div>
</div>

<div class="row" align="center">
  <h4>We maken gebruik van data van <a href="http://www.thequestionmark.org/">Questionmark</a></h3>
</div>


{% endblock %}