{% extends "website/base.html" %}

{% block title %}About {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>Consupedia is een Hackaton project. 11 en 12 Maart, Nieuwegein.</h3>
</div>

<div class="row">
  <div class="col-sm-8 - col-sm-offset-2" align="left">
	<h3>Bouwers</h3>
	<h5>Mathijs<h5>
	<h5>Bouke<h5>
	<h5>Michiel<h5>	
	<h5>Tijmen<h5>
	<h5>Jasper<h5>
	<h5>Bart<h5>
	<h5>Milan<h5>
	<h5>Sjoerd<h5>		
  </div>
</div>

<div class="row" align="center">
  <h4>We maken gebruik van data van <a href="http://www.thequestionmark.org/">Questionmark</a></h3>
</div>


{% endblock %}