{% extends "website/base.html" %}

{% block title %}Homepage {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Homepage</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" align="left">
      <p>Het product van de dag is {{ recommended_product }}!!!!!!! </p>
        <table>
      {% for e in all_products %}
        <tr><td> {{ e.name }} </td><td> {{ e.price }} </td></tr>
      {% endfor %}
      </table>
    </div>
  </div>

</div>
{% endblock %}
