{% extends "website/base.html" %}

{% block title %}Homepage {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Welkom op Consupedia<sub>beta</sub></h2>
    </div>
  </div>

  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-sm-12" align="left">      
      <p>Het product van de dag is: </p>
      <div class="csp-product csp-card csp-card-big">
        <h4><a href="{% url 'product' recommended_product.id %}">{{ recommended_product.name }}</a></h4>
        <div>
            {% if recommended_product.thumb_url %}
            <img src="{{ recommended_product.thumb_url }}"/>
            {% endif %}     
            {% if recommended_product.price %} 
            <span>{{ recommended_product.price }}</span>
            {% endif %} 
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-12" align="left">
      <p>Ook interestante producten: </p>    
      <table>
      {% for e in all_products %}
        <tr><td> {{ e.name }} </td><td> {{ e.price }} </td><td> {{ e.product_score }} </td> <td> {{ e.product_score_details }} </td></tr>
      {% endfor %}
      </table>	     
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm-12" align="left">
      <div class="block_header">
        <div class="block_child">          
          <a href="{% url 'what_to_eat' %}">Wat eten we vanavond?</a>
        </div>          
      </div>
      <div class="block_header block_header_grey">
        <div class="block_child">          
          <a href="#">Je moet inloggen om je aanbevolen product te zien</a>
        </div>          
      </div>      
    </div>
  </div>
  {% endif %}     

</div>
{% endblock %}
