{% extends "website/base.html" %}
{% load static %}
{% load consupedia %}

{% block title %} Missende cijfers {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h4>Eten met missende eigenschappen</h4>
</div>
  {% for property, foods in properties_to_foods.items %}
  <h4>Eigenschap {{ property.name }}:</h4>
  <div class="row" align="center">
  {% for food in foods %}
      <a href="{% url 'food-property-add' food.id property.id %}"><div class="food" id="{{food.id}}">{{ food.name }}</div></a>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}

