{% extends "website/base.html" %}

{% load static %}
{% load consupedia %}

{% block title %} Recipes {{ block.super }}{% endblock %}

{% block content %}


<h3 class="view-title">Recepten</h3>

<div class="row">
{% if user.is_authenticated %}
  <section class="csp-menu">
    <a class="button primary" href="{% url 'recipe-add' %}">Maak nieuw recept</a>
  </section>
{% endif %}
</div>

<div class="row">
{% for recipe in recipes %}
    <div class="col-md-6">
        <div class="well">
            {% include "recipe/recipe.html" %}
        </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
        <div class="clearfix"></div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
