<h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></h3>
<h4>{{ recipe.number_persons }} personen</h4>
<h4>{{ recipe.preparation_time_in_min }} minuten</h4>

<table>
{% for recipe_item, price in ingredient_and_price_list %}
<tr>
    <td><a href="{% url 'ingredient' recipe_item.ingredient.id %}">{{ recipe_item }}</a></td>
    <td>{{ price }}</td>
    <td>[<a href="{% url 'ingredient-edit' recipe_item.id %}">Verander</a>]</td>
</tr>
{% endfor %}
</table>

{% if recipe.source_if_not_user %}
<br/>
Bron: <a href="{{ recipe.source_if_not_user }}">{{ recipe.source_if_not_user }}</a><br/>
{% endif %}
