{% extends "website/base.html" %}

{% load static %}
{% load consupedia %}

{% block title %} Recipes {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h3 class="view-title">Recepten</h3>
  </div>
  <div class="col-md-6" align="right">
  {% if not is_anonymous_user %}
    <div class="vertical-spacer-10"></div>
    <a class="btn btn-primary" href="{% url 'recipe-add' %}">Nieuw recept</a>
  {% endif %}
  </div>
</div>

<div class="row">
  {% for recipe in recipes %}
  <div class="col-md-6">
    {% include "recipe/recipe_panel.html" %}
  </div>
  {% if forloop.counter|divisibleby:2 %}
  <div class="clearfix"></div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
