
<div class="panel">
  <div class="panel-heading" >
    <span align="center">
      <h5><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></h5>
    </span>
    <div><i class="fa fa-clock-o"></i> {{ recipe.preparation_time_in_min }} min</div>
    <div><i class="fa fa-user"></i> {{ recipe.number_persons }}</div>
    <div><i class="fa fa-sliders"></i> {{ recipe_score_text }}</div>
    <div><i class="fa fa-bar-chart"></i> <strong>Totaal score: </strong>{{ recipe_total_score_text }}</div>
    {{ score }}
  </div>

  {% if food_and_price_list %}
  <table class="table table-striped">
    {% for recipe_item, price in food_and_price_list %}
    <tr>
      <th>{{ recipe_item.quantity }} {{ recipe_item.food.unit }}</th>
      <td><a href="{% url 'food' recipe_item.food.id %}">{{ recipe_item.food }}</a></td>
      <td>{{ price }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

   <div>
      Resultaat: <strong>{{ recipe.quantity }} {{ recipe.provides.unit }} <a href="{% url 'food' recipe.provides.id %}">{{ recipe.provides }}</a></strong>
    </div>
   <div>
      {{ recipe.preparation }}
    </div>

  {% if recipe.source_if_not_user %}
  <div class="panel-footer">
    Bron: <a href="{{ recipe.source_if_not_user }}">{{ recipe.source_if_not_user }}</a><br/>
  </div>
  {% endif %}
</div>
