{% load humanize %}
(per {{ score_unit }})
<table class="table">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Prijs</th>
    <th>Landgebruik [m^2]</th>
    <th>Dierenwelzijn</th>
    <th>Totaal score</th>
  </tr>
  </thead>
  <tbody>
  {% for item in recipes_with_score %}
    <tr id="row-{{ recipe.id }}">
      <td><a href="{% url 'recipe_detail' item.recipe.id %}">{{ item.recipe.name }}</a></td>
      <td>{{ item.score.price }}</td>
      <td>{{ item.score.land_use_m2|floatformat:2|intcomma }}</td>
      <td>{{ item.score.animal_harm|floatformat:2|intcomma }}</td>
      <td title="{{ score }}">{{ item.score.total|floatformat:0 }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
