{% load humanize %}
<div class="text-center">
  (per {{ score_unit }})
</div>
<table class="table">
  <thead>
  <tr>
    <th>Naam</th>
    {% include "items/score_table_headers.html" %}
  </tr>
  </thead>
  <tbody>
  {% for item in recipes_with_score %}
    <tr id="row-{{ recipe.id }}">
      <td><a href="{% url 'recipe_detail' item.recipe.id %}">{{ item.recipe.name }}</a></td>
      <td>€ {{ item.score_price|floatformat:2|intcomma }}</td>
      <td>{{ item.score_prep_time|floatformat:0|intcomma }}</td>
      <td>{{ item.score_land_use_m2|floatformat:2|intcomma }}</td>
      <td>{{ item.score_animal_harm|floatformat:2|intcomma }}</td>
      <td title="{{ item.score }}">{{ item.score_total|floatformat:0 }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
