
<div class="panel">
  <div class="panel-heading" >
    <span align="center">
      <h5><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></h5>
    </span>
    <div><i class="fa fa-clock-o"></i> {{ recipe.preparation_time_in_min }} min</div>
    <div><i class="fa fa-user"></i> {{ recipe.number_persons }}</div>
  </div>

  {% if food_and_price_list %}
  <table class="table table-striped">
    {% for recipe_item, price in food_and_price_list %}
    <tr>
      <th>{{ recipe_item.quantity }} {{ recipe_item.unit }}</th>
      <td><a href="{% url 'food' recipe_item.food.id %}">{{ recipe_item.food }}</a></td>
      <td>{{ price }}</td>
      <td align="right"><a href="{% url 'recipe_item-edit' recipe_item.id %}"><i class="fa fa-pencil"></i></a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <span class="pull-left">
    <a class="btn btn-primary" href="{% url 'recipe_item-add' recipe.id %}">Voeg ingrediënt toe</a>
  </span>

</div>
