{% extends "website/base.html" %}

{% block title %}{{ product.name }} {{ block.super }}{% endblock %}

{% block content %}

{% if product %}
<div class="row" align="center">
  <h3>Categorie: {{ ingredient.name }}</h3>
  <p>Het product van de dag is <a href="{% url 'product' product.id %}">{{ product.name }}</a>!!!!!!! </p>

  {% include "product/product.html" %}
</div>
{% endif %}

<div class="row">
    <div class="col-sm-12" align="left">
      <p>Ook interessante producten: </p>
      <table>
      {% for e in all_products %}
        <tr><td> <a href="{% url 'product' e.id %}"> {{ e.name }} </a> </td><td> {{ e.price }} </td> <td> {{ e.product_score_details }} </td></tr>
      {% endfor %}
      </table>
    </div>
  </div>



{% endblock %}