html {
    position: relative;
    min-height:100%;
}

body {
    padding-top: 65px;
    margin-bottom: 60px;
}

.vertical-spacer-10 {
    padding: 0;
    margin: 0;
    height: 10px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.consupediaLogo
{
   background: url("ConsupediaLogo.png");
   background-size: 30px 60px;
   background-repeat: no-repeat;
   width: 150px;
   height: 60px;
   padding-left: 30px;
   font-size: 20px;
   font-weight: 500;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #f9f9f9;
}

.csp-card {
	float:left;
	border:1px solid #CCC;
	border-radius:5px;
	margin:1em;
	padding:0.5em;
	position:relative;
	max-width:15em;
}

.csp-card-big {
	max-width:50em;
}

.csp-rater {
	font-size: 1.5em;
	position:relative;
	cursor:default;
	color:#BBB;
}

.csp-global-rating {
	color:green;
	position:absolute;
	top:0;
	z-index:2;
	overflow:hidden;
	transition: width 1s, top 1s;
	white-space: nowrap;
}

.csp-user-rating {
	position:relative;
	z-index:1;
}

.csp-rater.csp-user-rated  .csp-global-rating {
	top:0.15em;
	z-index:0;
}

.csp-active-user  .csp-rater:hover:not(.csp-user-rated) .csp-global-rating {
	display:none;
}

.csp-active-user .csp-user-rating:hover i, .csp-starred {
	color:gold;
}

.csp-active-user  .csp-user-rating i:hover  ~ i {
	color:#CCC;
}

.csp-settings-relview > div  {
	float:left;
	margin:0;
	height:8vw;
	width:8vw;
	border-radius:50%;
	transition:width 1s, height 1s;
}

.csp-setting-sliders label {
  font-weight: 500;
  font-size: 20px;
}

.csp-setting-sliders .fa {
  color: #0D7A07;
  width: 30px;
}

.panel-heading .fa 
{
  color: #0D7A07;
  width: 20px;
}

.csp-price {	background-color: gold;}
.csp-environment {	background-color: green;}
.csp-social {	background-color: pink;}
.csp-animals {	background-color: brown;}
.csp-personal_health {	background-color: blue;}

.food {
    float:left;
	border:1px solid #CCC;
	border-radius:2px;
	margin:0.5em;
	padding:0.5em;
	position:relative;
	max-width:15em;
    cursor: pointer;
}
.food:hover {
    background-color: #999;
    color: white;
	border:1px solid #333;
}

.welcome-text {
  font-weight: 500;
  padding-top:50px;
}
.welcome-text__sub {
  font-weight: 200;
  font-size: 24px;
  padding: 0px 100px;
  margin: 0px 0px 40px 0px;
}

.block_header {
    float: left;
    width: 50%;
    max-height: 600px;           
    color: white;
    font-size: 24px;
    overflow: hidden;
    border: 15px solid rgba(52, 73, 94, 1);
}
.block_child {
    width: 100%;
    height: 100%;     
    padding: 5em 0em; 
    background: linear-gradient(rgba(52, 73, 94, 0.45),rgba(52, 73, 94, 0.45)), url("FoodOnTable1.jpg");
    background-position: center;
    background-size: cover;
}
.block_child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}
.block_header:hover .block_child,
.block_header:focus .block_child {
  transform: scale(1.1);
  transition: all .5s;
}
.block_header:hover .block_child:before,
.block_header:focus .block_child:before {
  display: block;
  transition: all .5s;
}
.block_child a {    
    position:relative;
    text-align:center;
    color: #ffffff !important;
    display:block;
    width:100%;
}
.block_header_grey
{
    font-size: 24px;
}
.block_header_grey .block_child
{
    background: linear-gradient(rgba(125, 125, 125, 0.45),rgba(125, 125, 125, 0.45)), url("FoodOnTable2.jpg");
}
.block_header_grey:hover .block_child,
.block_header:focus .block_child {
  transform: scale(1);
  transition: all .5s;
}

.step-background-gray {
  padding: 30px 0px;
  background:#EAEAEA;
  width: 100%;
  margin-bottom: 40px;
}

.recipe-list
{
  display: inline-block;
}

.recipe-item
{
  float: left;
  width: 29%;
  margin: 20px;
  padding: 20px;  
  cursor: pointer;
}
.recipe-item:hover
{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.recipe-item .panel-body
{
  padding: 0px;
}

.recipe-image
{
  max-width: 100%;
  max-height: 100%;
}

.loader {
  border: 8px solid #EAEAEA;
  border-radius: 50%;
  border-top: 8px solid #0D7A07;
  border-bottom: 8px solid #0D7A07;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}