html, body {
  overflow-x: hidden;
}

body {
  padding-top: 60px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}


.csp-card {
	float:left;
	border:1px solid #CCC;
	border-radius:5px;
	margin:15px;
	padding:5px;
	position:relative;
	max-width:15em;
}

.csp-card .csp-edit {
	position:absolute;
	bottom:3px;
	right:3px;
}