html, body {
  overflow-x: hidden;
}

body {
  padding-top: 60px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.consupediaLogo
{
   background: url("ConsupediaLogo.png");
   background-size: 280px 60px;
   width: 280px;
   height: 60px;
}

.csp-card {
	float:left;
	border:1px solid #CCC;
	border-radius:5px;
	margin:1em;
	padding:0.5em;
	position:relative;
	max-width:15em;
}

.csp-card-big {
	max-width:50em;
}

.csp-rater {
	font-size: 1.5em;
	position:relative;
	cursor:default;
	color:#BBB;
}

.csp-global-rating {
	color:green;
	position:absolute;
	z-index:2;
	overflow:hidden;
	transition: width 1s;
	white-space: nowrap;
}

.csp-rater.csp-user-rated  .csp-global-rating {
	height:0.6em;
}

.csp-rater:hover .csp-global-rating {
	display:none;
}

.csp-user-rating:hover i, .csp-starred {
	color:gold;
}

.csp-user-rating i:hover  ~ i {
	color:#EEE;
}