{% extends "website/base.html" %}

{% load static %}
{% load bootstrap_pagination %}
{% load consupedia %}

{% block title %}Products {{ block.super }}{% endblock %}

{% block content %}


<h3 class="view-title">Producten</h3>

<div class="row">
  {% if not is_anonymous_user %}
  <section class="csp-menu">
    <a class="button primary" href="{% url 'product-add' %}">Maak nieuw product</a>
  </section>
  {% endif %}
</div>

<div class="row">
  <form type="get" action="." style="margin: 0">
    <div class="col-sm-3">
      <input class="form-control" id="search_box" type="text" name="search_box" placeholder="Search...">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" id="search_submit" type="submit">Zoek</button>
    </div>
  </form>
</div>

<hr/>

{% if products %}{{ n_products_all }} producten gevonden{% else %}geen producten gevonden{% endif %}

<div class="row">

  {% for product in products %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    {% include "product/product_panel.html" %}
  </div>

  {% if forloop.counter|divisibleby:2 %}
  <div class="clearfix visible-sm"></div>
  {% endif %}
  {% if forloop.counter|divisibleby:3 %}
  <div class="clearfix visible-md"></div>
  {% endif %}
  {% if forloop.counter|divisibleby:4 %}
  <div class="clearfix visible-lg"></div>
  {% endif %}

  {% endfor %}

</div>

<div class="row" align="center">{% bootstrap_paginate products range=10 show_prev_next="true" show_first_last="true"
  %}
</div>

<script src="{% static 'js/products.js' %}" type="text/javascript"></script>
{% endblock %}