{% load humanize %}

<table class="table">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Prijs</th>
    <th>Totaal score</th>
    {% if anonymous_can_edit or not is_anonymous_user %}
    <th>Verwijder</th>
    {% endif %}
  </tr>
  </thead>
  <tbody>
  {% for product, score in products_and_scores %}
    <tr id="row-{{ product.id }}">
      <td><a href="{% url 'product' product.id %}">{{ product.name }}</a></td>
      <td>{% if product.price %}{{ product.price }}{% endif %}</td>
      <td title="{{ score }}">{{ score.total|floatformat:0|intcomma }}</td>
      {% if anonymous_can_edit or not is_anonymous_user %}
      <td align="right">
        <button id="button-remove-{{ product.id }}" class="btn btn-info btn-sm"><i class="fa fa-remove"></i></button>
      </td>
      {% endif %}
    </tr>

    <script>
      $("#button-remove-{{ product.id }}").click(function() {
        $.post(
          "/food/product/remove/",
          {
            "food_id": {{ food.id }},
            "product_id": {{ product.id }}
          },
          function(data) {
            $("#row-{{ product.id }}").fadeOut();
          },
          "json"
        );
      });
    </script>
  {% endfor %}
  </tbody>
</table>
