{% extends "website/base.html" %}

{% block title %}{{ ingredient.name }} {{ block.super }}{% endblock %}

{% block content %}

{% if ingredient %}
<div class="row" align="left">
  <h3>{{ ingredient.name }}</h3>
  <hr/>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-12" align="center">
    <div class="panel">

      <div class="panel-body">
        <h4>Gevonden producten</h4>
        Verwijder producten die niet bij dit ingrediënt passen.
      </div>

      {% with products=ingredient.product_set.all %}
      {% include "product/products_table.html" %}
      {% endwith %}

    </div>
    <div class="pull-right">
     <a class="btn btn-primary" href="{% url 'ingredient' ingredient.id %}">Klaar</a>
    </div>
  </div>
</div>

{% endblock %}