{% extends "website/base.html" %}

{% load static %}
{% load consupedia %}

{% block title %} Categories {{ block.super }}{% endblock %}

{% block content %}


<h3 class="view-title">Ingrediënten</h3>

<div class="row">
  <form type="get" action="." style="margin: 0">
    <div class="col-sm-3">
      <input class="form-control" id="create_box" type="text" name="create_box" placeholder="Ingredient...">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary" id="search_submit" type="submit">Maak nieuw</button>
    </div>
  </form>
</div>

<hr/>

<div class="row">
  {% for food in ingredients %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    {% include "food/ingredient_panel.html" %}
  </div>

  {% if forloop.counter|divisibleby:2 %}
    <div class="clearfix visible-sm"></div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
    <div class="clearfix visible-md"></div>
    {% endif %}
    {% if forloop.counter|divisibleby:4 %}
    <div class="clearfix visible-lg"></div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}