{% extends "website/base.html" %}

{% block title %}{{ food.name|title }} {{ block.super }}{% endblock %}

{% block content %}

{% if food %}
<div class="row" align="left">
  <div class="col-sm-1"></div>
  <div class="col-sm-10" align="center">
 <h3>{{ food.name|title }}</h3>
  </div>
    <div class="col-sm-1" align="right">
    {% if not is_anonymous_user %}
    <a class='btn btn-primary' href="{% url 'food-edit' food.id %}">Edit</a>
    {% endif %}
  </div>
</div>
<div class="row" align="left">
  <div class="col-sm-12" align="center">
    ({{ food.unit }})
  </div>
</div>
<div class="row" align="left">
  <div class="col-sm-12" align="center">
    {% if kg_price %}
      {{ kg_price }} / kg
    {% else %}
      {{ score.price }}
    {% endif %}
  </div>
</div>
<div class="row" align="left">
  <div class="col-sm-12" align="center">
    <i class="fa fa-bar-chart"></i> {{ score }}
  </div>
</div>
<hr/>
{% endif %}

{% if recipes %}
<div class="row" align="center">
  <h4>Recepten</h4>
{% for recipe in recipes %}
{% include "recipe/recipe_panel.html" %}
{% endfor %}
</div>
<hr/>
{% endif %}

{% if recommended_product %}
<div class="row" align="center">
  <h3>Aanbevolen</h3>
    {% with product=recommended_product %}
      {% include "product/product_detail_panel.html" %}
    {% endwith %}
</div>
{% endif %}

{% if recommended_recipe %}
<div class="row" align="center">
  <h4>Aanbevolen</h4>
  <div class="row">
    <div class="col-md-12">
      {% with recipe=recommended_recipe %}
        {% include "recipe/recipe_panel.html" %}
      {% endwith %}
    </div>
  </div>
</div>
{% endif %}

<div class="row" align="center">
  <h4>Andere mogelijkheden</h4>
</div>
<div class="row">
  <div class="col-sm-12" align="center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="h5">Producten</span>
      </div>
      {% include "product/products_table.html" %}
      <div class="panel-footer" style="height: 55px;">
        <a class='btn btn-primary pull-right' href="{% url 'food-products-update' food.id %}">Update producten</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" align="center">
    <div class="panel">
      <div class="panel-heading">
        <h5>Recepten</h5>
      </div>
      {% include "recipe/recipes_table.html" %}
    </div>
  </div>
</div>

{% endblock %}