{% extends "website/base.html" %}

{% block title %}{{ food.name }} {{ block.super }}{% endblock %}

{% block content %}

{% if food %}
<div class="row" align="left">
  <div class="col-sm-12" align="center">
 <h3>{{ food.name }}</h3>
  {% if not is_anonymous_user %}
    <div align="right">
      <a class='btn btn-primary' href="{% url 'food-edit' food.id %}">Edit</a>
    </div>
    {% endif %}
  </div>
</div>
<hr/>
{% endif %}

{% if product %}
<div class="row" align="center">
  <h4>Aanbevolen</h4>
  {% include "product/product_detail_panel.html" %}
</div>
{% endif %}

<div class="row">
  <div class="col-sm-12" align="center">
    <div class="panel">

      <div class="panel-heading">
        <h4>Vergelijkbare producten</h4>
      </div>

      {% with products=product_list %}
        {% include "product/products_table.html" %}
      {% endwith %}

    </div>
  </div>
</div>

{% endblock %}