{% extends "website/base.html" %}

{% load humanize %}

{% block title %}{{ food.name|title }} {{ block.super }}{% endblock %}

{% block content %}

<div class="vertical-spacer-20"></div>

{% if food %}
  <div class="panel panel-default">

    <div class="panel-heading text-center h3">
      <span>{{ food.name|title }}</span>
    </div>

    <table class="table">
      <thead>
      {% include "items/score_table_headers.html" %}
      </thead>
      <tbody>
      <tr>
        <td>€ {{ score_price|floatformat:2|intcomma }}</td>
        <td>{{ score_prep_time|floatformat:0|intcomma }}</td>
        <td>{{ score_land_use_m2|floatformat:2|intcomma }}</td>
        <td>{{ score_animal_harm|floatformat:2|intcomma }}</td>
        <td title="{{ score }}">{{ score_total|floatformat:0 }}</td>
      </tr>
      </tbody>
    </table>

    <div class="panel-heading text-center h5">
      <span>Eigenschappen:</span>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Naam</th>
        <th>Waarde</th>
      </tr>
      </thead>
      <tbody>
      {% for score_value in score_values %}
        <tr>
          <td>{{ score_value.food_property_type.name }}</td>
          <td>
            {% if score_value.food_property_type.has_boolean_type %}
              {% if score_value.value is not None %}
                {% if score_value.value %}
                <i class="fa fa-check"></i>
                {% else %}
                <i class="fa fa-times"></i>
                {% endif %}
              {% else %}
                ?
              {% endif %}
            {% else %}
              {{ score_value.value }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer" style="height: 55px;">
      {% if not is_anonymous_user %}
        <a class='btn btn-primary pull-right' href="{% url 'food-edit' food.id %}">Edit</a>
        {% if food.can_be_removed %}
          <a class='btn btn-primary pull-right' href="{% url 'food-remove' food.id %}">Verwijderen</a>
        {% endif %}
      {% endif %}
    </div>

  </div>
{% endif %}

{% if recipes %}
  <h4>Recepten</h4>
  {% for recipe in recipes %}
  {% include "recipe/recipe_panel.html" %}
  {% endfor %}
  <hr/>
{% endif %}

{% if recommended_product %}
  <div class="panel-heading text-center h4">
    <span>Aanbevolen product</span>
  </div>
  {% with product=recommended_product %}
    {% include "product/product_detail_panel.html" %}
  {% endwith %}
{% endif %}

{% if recommended_recipe %}
  <div class="panel-heading text-center h4">
    <span>Aanbevolen recept</span>
  </div>
  {% with recipe=recommended_recipe %}
    {% include "recipe/recipe_panel.html" %}
  {% endwith %}
{% endif %}

<hr/>

<h4>Andere mogelijkheden</h4>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <span class="h5">Producten</span>
  </div>
  {% include "product/products_table.html" %}
  <div class="panel-footer" style="height: 55px;">
    {% if anonymous_can_edit or not is_anonymous_user %}
    <a class='btn btn-primary pull-right' href="{% url 'food-products-update' food.id %}">Zoek opnieuw</a>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <span class="h5">Recepten</span>
  </div>
  {% include "recipe/recipes_table.html" %}
</div>

<div class="panel panel-default">
  <div class="panel-heading text-center">
    <span class="h5">Gebruikt in Recepten</span>
  </div>
  {% if food.used_in_recipes %}
  <table class="table">
  {% for recipe in food.used_in_recipes %}
    <tr>
      <td>
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
      </td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
    Geen recepten gevonden
  {% endif %}
</div>

{% endblock %}