{% extends "website/base.html" %}

{% load static %}

{% block title %}Edit {{ userPreference }} {{ block.super }}{% endblock %}

{% block content %}

<div class="row" align="center">
  <h3>Voorkeuren voor {{ userPreference.user.username }}</h3>
</div>

<div class="row" align="center">
{% include "user/user_preference_edit_block.html" %}

<section class="csp-settings-relview">
	<div class="csp-relview csp-price"></div>
	<div class="csp-relview csp-environment"></div>
	<div class="csp-relview csp-social"></div>
	<div class="csp-relview csp-animals"></div>
	<div class="csp-relview csp-personal_health"></div>
    <div class="csp-relview csp-land_use_m2"></div>
	<div class="csp-relview csp-animal_harm"></div>
    <div class="csp-relview csp-prep_time"></div>
</section>
</div>
<div class="row" align="center">
  <h3>Jouw score</h3>
</div>
<table class="table">
    <tr>
      <td>{{ user_scores.recipe_count }} recepten gemaakt</td>
      <td>{{ user_scores.recipe_count_score }} dopamine-shotjes <span class="fa fa-thumbs-o-up"></span></td>
    </tr>
    <tr>
      <td>{{ user_scores.sc_count }} cijfers gemaakt</td>
      <td>{{ user_scores.sc_count_score }} dopamine-shotjes <span class="fa fa-thumbs-o-up"></span></td>
    </tr>
    <tr>
      <td><strong>Totaal</strong></td>
      <td><strong>{{ user_scores.total_score }} dopamine-shotjes <span class="fa fa-thumbs-o-up"></span></strong></td>
    </tr>
</table>
<div class="row" align="center">
  <h3>Voorraad</h3>
</div>
<a href="{% url 'supply-add' %}">Voeg toe...</a>
  <table class="table">
    {% for s in supplies %}
    <tr>
      <td>{{ s.quantity }} {{ s.food.unit }}</td>
      <th>{{ s.food.name }}</th>
    </tr>
    {% endfor %}
  </table>


{% endblock %}